.vs/emily/v17/.suo
.vs/emily/FileContentIndex/1fc75684-ef93-4161-8336-fa65abf3ef4e.vsidx

obj/
bin/
assembly/
.vs/emily/v17/DocumentLayout.json
*.vsidx
.vs/emily/v17/DocumentLayout.backup.json
*.v2
*.bin
