.vs/emily/v17/.suo
.vs/emily/FileContentIndex/1fc75684-ef93-4161-8336-fa65abf3ef4e.vsidx

obj/
bin/
assembly/
.vs/emily/v17/DocumentLayout.json
*.vsidx
.vs/emily/v17/DocumentLayout.backup.json
*.v2
*.bin
/src/.vs/PDB_molViews/v17/.suo


tools/
*.log
emily.zip
.vs/emily/CopilotIndices/17.14.734.62261/CodeChunks.db
.vs/emily/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/emily/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
.vs/emily/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
.vs/emily/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
.vs/emily/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
.vs/emily/CopilotIndices/17.14.939.21063/CodeChunks.db
.vs/emily/CopilotIndices/17.14.939.21063/CodeChunks.db-shm
.vs/emily/CopilotIndices/17.14.939.21063/CodeChunks.db-wal
.vs/emily/CopilotIndices/17.14.939.21063/SemanticSymbols.db
.vs/emily/CopilotIndices/17.14.939.21063/SemanticSymbols.db-shm
.vs/emily/CopilotIndices/17.14.939.21063/SemanticSymbols.db-wal
/.vs/emily/CopilotIndices/17.14.995.13737
.vs/emily/CopilotIndices/17.14.1091.29919/CodeChunks.db
.vs/emily/CopilotIndices/17.14.1091.29919/CodeChunks.db-shm
.vs/emily/CopilotIndices/17.14.1091.29919/SemanticSymbols.db
.vs/emily/CopilotIndices/17.14.1091.29919/CodeChunks.db-wal
.vs/emily/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-shm
.vs/emily/CopilotIndices/17.14.1091.29919/SemanticSymbols.db-wal
/src/dockPlot/.vs/ligplus/CopilotIndices/17.14.1147.5054
/src/dockPlot/.vs/ligplus/v17
/.vs/emily/CopilotIndices/17.14.1147.5054
.Rproj.user
/.vs/emily/CopilotIndices/17.14.1204.46620
/.vs/emily/CopilotIndices/17.14.1231.31060
.vs/emily/CopilotIndices/17.14.1368.60722/CodeChunks.db
.vs/emily/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
*.suo
*.nupkg
